*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    font-size: 16px;
    line-height: 20px;
    border-top: solid 50px rgb(12, 12, 221);
}

/* header-avatar*/

header{
    margin-right: 50px;
}

.header{
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    background-image: url(avatar.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    min-width: 250px;
    min-height: 250px;
    border:solid 5px blue;
}

h1{
    margin: 30px 0 0;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.icons{
    width: 100%;
}

.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-contacts{
    width: 50px;
    padding: 30px 0;
    transition: all 0.2s;
}

.icon-contacts:hover{
    width: 70px;
    padding: 20px 0;
}

.discord:hover{
    width: 67px;
    padding: 20px 0;
}

a{
    text-decoration: none;
}

.main_menu{
    text-align: center;
}

.menu{
    line-height: 40px;
    font-size: 24px;
    color: #000;
    border-bottom: solid 1px #000;
    transition: all .2s;
}

.menu:hover{
    font-size: 30px;
    border-bottom: solid 2px rgb(0, 15, 228);
}

/*main content*/

h2{
    display: inline-block;
    line-height: 30px;
    font-size: 26px;
    margin:20px 0 20px 50px;
    border-bottom: solid 2px rgb(0, 15, 228);
}

h3{
    display: inline-block;
    line-height: 30px;
    font-size: 24px;
    margin:20px 0 20px 80px;
    border-bottom: solid 2px rgb(0, 15, 228);
}

p, li{
    font-size: 20px;
    line-height: 30px;
}

.coding_skills{
    list-style: circle;
    margin-left: 20px;
}

code{
    font-size: 16px;
    padding-left: 20px;
}

.code_row{
    display: block;
}

.row2{
    margin-left: 20px;
}

.row3{
    margin-left: 40px;
}

.row4{
    margin-left: 60px;
}

.row5{
    margin-left: 40px;
}

.row6{
    margin-left: 60px;
}

.row7{
    margin-left: 80px;
}

.row8{
    margin-left: 80px;
}

.lang_skills{
    list-style: disc;
    margin-left: 20px;
}